.pd-15{padding: 15%;}
.pt-3{padding-top:3%;}
.pt-10{padding-top:10%;}
.pd-3{padding:3%;}
.mb-0{margin-bottom: 0%;}
.mb-3{margin-bottom:3%;}
.mb-5{margin-bottom:5%;}
.text-white{color: white;}
.text-blue{color: #8EBEF2;}
.text-blue2{color: #2C79CC;}
.bg-gray{background-color: rgba(20, 27, 14, 0.3); }
.bg-blue{background-color: rgba(11, 88, 255, 0.5);}
.bg-footer{background-color: #666363}
.inline{display: inline-block;}
#fondo{
	background-image: url("../image/large.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
	width: 	100%;
}
header span{border:.1em solid black;}
button{
	background-color: rgba(20, 151, 255, 0.3);
	border: 1%;
	padding: 1%;
}
.sombreado{
	box-shadow: inset 0px 1px 0px #9e8d84, 0px 5px 0px 0px #8E807E, 0px 10px 5px #999;
	border-radius: 100%;
	width: 50%;
	padding: 10% 0%;
}
.logo2{
	width: 35%;
}
.img-fondo2{
	background-image: url("../image/sec-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 400px;
	width: 	100%;
	opacity: 0.7;
}
.iconitos{
	display: block;
  	margin-left: 95%;
 	padding-top: 3%;
}
#lapiz{
	background-color: #8EBEF2;
	border-radius: 100%;
	padding: 2%;
}
#herramientas{
	background-color: #8EBEF2;
	border-radius: 100%;
	padding: 2%;
	margin-top: 10%;
}
#lupa{
	background-color: #8EBEF2;
	border-radius: 100%;
	padding: 2%;
	margin-top: 10%;
}
#separador{
	border-radius: 100%;
	padding-right:60%;
}
.img-banner{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 400px;
	width: 	100%;
}