.pd-15{padding: 15%;}
.pt-3{padding-top:3%;}
.pd-3{padding:3%;}
.mb-3{margin-bottom:3%;}
.mb-5{margin-bottom:5%;}
.text-white{color: white;}
.text-blue{color: blue;}
.bg-gray{background-color: rgba(20, 27, 14, 0.3); }
.bg-blue{background-color: rgba(11, 88, 255, 0.5);}
.inline{display: inline-block;}
#fondo{
	background-image: url("../image/large.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
	width: 	100%;
}
header span{border:.1em solid black;}
button{
	background-color: rgba(20, 151, 255, 0.3);
	border: 1%;
	padding: 1%;
}
.sombreado{
	box-shadow: inset 0px 1px 0px #9e8d84, 0px 5px 0px 0px #8E807E, 0px 10px 5px #999;
	border-radius: 100%;
	width: 50%;
	padding: 10% 0%;
}
.logo2{
	width: 35%;
}